<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is flask about</title>
</head>

<body>
    <h1>hello {{name}} heading</h1>
    <p>hello paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae magnam beatae iusto numquam fugiat laudantium fuga voluptas modi, corrupti voluptatibus? Exercitationem maiores repellat culpa officia repellendus vel quod numquam?</p>
</body>

</html>